---
import Icons from "./Icons.astro";
import ThemeToggler from "./ThemeToggler.astro";
import { Image } from "astro:assets";
import Logo from "./assets/holysheets-logo.svg";
---

<header
  class="border-b border-b-slate-200 dark:border-b-slate-700 bg-white dark:bg-slate-900"
>
  <div
    class="container mx-auto p-4 font-semibold flex justify-center dark:text-white text-slate-900"
  >
    <a class="font-semibold mr-auto flex justify-center items-center" href="/">
      <Image
        src={Logo}
        alt="HolySheets Logo"
        class="w-8 h-8 mr-2 relative top-[-2px]"
      />
      <span>HolySheets</span>
    </a>
    <ThemeToggler />
    <a
      href="https://github.com/holy-sheets/holysheets"
      target="_blank"
      class="flex text-xl"
    >
      <Icons icon="github" />
    </a>
  </div>
</header>
